@model BBI.Models.ViewModels.CartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nodisplay {
        display: none !important;
    }
</style>

<form method="post">
    @if (Model.ServiceList.Count > 0)
    {
        <br />
        <div class="backgroundWhite container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Zaključak paketa
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" asp-controller="Cart" asp-area="Customer" class="btn btn-outline-light form-control btn-sm">Nazad</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-primary">Podaci o osobi:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Ime i prezime:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.FullName" id="txtName" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Jedinstveni matični broj (JMBG):</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.JMBG" id="txtJMBG" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.JMBG" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Spol:</label>
                                    </div>
                                    <div class="col-9">
                                        Muško
                                        @Html.RadioButtonFor(model => model.OrderHeader.Gender, "Male")
                                        Žensko
                                        @Html.RadioButtonFor(model => model.OrderHeader.Gender, "Female")
                                        <span asp-validation-for="OrderHeader.Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Datum rođenja:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.BirthDate" id="txtBirthDate" type="datetime-local" class="form-control" />
                                        <span asp-validation-for="OrderHeader.BirthDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Grad:</label>
                                    </div>
                                    <div class="col-9">
                                        @Html.DropDownListFor(m => m.OrderHeader.CityId, Model.CityList, "- Izaberite grad iz kojeg dolazite -", new { @class = "form-control cityText", @id = "cityText" })
                                        @*<select asp-items="Model.CityList" id="City">
                                                <option>"- Izaberite grad iz kojeg dolazite -"</option>
                                            </select>*@
                                        <span asp-validation-for="OrderHeader.CityId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Broj telefona (Mobilni):</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.PhoneNumber" id="txtPhoneNumber" type="tel" class="form-control" />
                                        <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email Adresa:</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.Email" id="txtEmail" type="email" class="form-control" />
                                        <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Detalji paketa</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @{ var total = 0.0;}

                                    @foreach (var details in Model.ServiceList)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <input type="hidden" asp-for="@details.Id" />
                                                <h6 class="my-0">@details.Name</h6>
                                            </div>
                                            <input type="hidden" asp-for="@details.Price" id="price" />

                                            @{total = details.Price;}

                                        </li>
                                    }

                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <strong class="text-primary">Ukupno (KM)</strong>
                                        <strong class="text-primary" id="total">@total</strong>

                                    </li>

                                    <li class="list-group-item d-flex justify-content-between bg-success nodisplay" id="discountPartAge">
                                        <small class="text-white">+ Popust 18-25 godina(30%)</small>


                                    </li>

                                    <li class="list-group-item d-flex justify-content-between bg-success nodisplay" id="discountPartPovratnici">
                                        <small class="text-white">+ Popust povratnici(30%)</small>


                                    </li>
                                    <li class="list-group-item d-flex justify-content-between bg-info nodisplay " id="totalWithDiscountPart">
                                        <strong class="text-white">Ukupno sa popustom</strong>
                                        <strong class="text-white" id="discount"></strong>
                                        <strong class="text-white" id="totalWithDiscount">@total</strong>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 text-right">
                        <button type="submit" class="btn btn-success form-control">Dalje</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhite"> Niste izabrali nijedan ponuđeni paket...</div>
    }
</form>

@section scripts{
    <script>
        $(function () {
            //Wire up your event handler to target the appropriate element
            $('#txtBirthDate').datepicker({
                onClose: function (dateText, datePickerInstance) {

                    var dateArray = dateText.split("-")
                    var day = dateArray[2].substr(0, 2);
                    var month = dateArray[1];
                    var year = dateArray[0];
                    var birthDate = new Date(year, month, day);

                    var ageDifMs = Date.now() - birthDate;
                    var ageDate = new Date(ageDifMs);
                    var age = Math.abs(ageDate.getUTCFullYear() - 1970);


                    var totalDiscount = 0;

                    if ($('#discountPartPovratnici').hasClass('nodisplay') == false) {
                        totalDiscount += 30;
                    }
                    if (age >= 18 && age <= 25) {
                        totalDiscount += 30;
                        $('#discountPartAge').removeClass('nodisplay');
                    }
                    else {
                        $('#discountPartAge').addClass('nodisplay');
                    }

                    if (totalDiscount == 0) {
                        $('#totalWithDiscountPart').addClass('nodisplay');
                    }
                    else {
                        $('#totalWithDiscountPart').removeClass('nodisplay');
                        var totalValue = $('#total')[0].innerHTML;
                        $('#discount')[0].innerHTML = "- " + totalDiscount + "%";


                        var totalWithDiscount = totalValue - totalValue * totalDiscount / 100;
                        $('#totalWithDiscount')[0].innerHTML = totalWithDiscount + " KM";
                    }

                    //$('#DivTotalCost').text(TotalCost);
                    //var oldValue = $(this).data('oldValue') || "";
                    //if (dateText !== oldValue) {
                    //    $(this).data('oldValue', dateText);
                    //    $(this).trigger('dateupdated');
                    //}
                }
            });

            $("#cityText").change(function () {

                var city = $("#cityText option:selected").text();


                var totalDiscount = 0;

                if ($('#discountPartAge').hasClass('nodisplay') == false) {
                    totalDiscount += 30;
                }



                if (city == "Srebrenica" || city == "Bratunac" || city == "Prijedor") {
                    totalDiscount += 30;

                    $('#discountPartPovratnici').removeClass('nodisplay');
                }
                else {
                    $('#discountPartPovratnici').addClass('nodisplay');

                }

                if (totalDiscount == 0) {
                    $('#totalWithDiscountPart').addClass('nodisplay');
                }
                else {
                    $('#totalWithDiscountPart').removeClass('nodisplay');
                    var totalValue = $('#total')[0].innerHTML;
                    $('#discount')[0].innerHTML = "- " + totalDiscount + "%";

                    var totalWithDiscount = totalValue - totalValue * totalDiscount / 100;
                    $('#totalWithDiscount')[0].innerHTML = totalWithDiscount + " KM";
                }

            });
        });
    </script>
}